@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@font-face {
    font-family: "Gang of Three";
    src: url("go3v2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gang of Three";
}

body{
    background-color: white;
}

.nav{
    background-color: salmon;
    color: white;
    width: 100%;
    height: 80px;
}
.lista li{
    display: inline;
    float: left;
}
.lista li a{
    display: block;
    color: white;
    padding: 25px 20px;
    text-decoration: none;
}
.lista li a:hover{
    color:  rgb(255, 211, 206);
}

.container{
    display: flex;
    background-color: white;
    width: 65%;
    height: 40vw;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 16%;
    border: salmon solid 1px;
}

#logo{
    margin-left: 30vh;
    width: 30vh;
    height: 30vh;
    border-radius: 100%;
    margin-bottom: 40px;

}

.row{
    margin-left: 60px;
    color: black;
}
.texto1{
    margin-bottom: 40px;
    margin-left: 5vh;
}

.texto1 h1{
    margin-bottom: 15px;
}

.texto1 p{
    line-height: 20px;
    font-family: "Roboto";
}
.formulario{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    background-color: salmon;
    width: 60vh;
    height: 70vh;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 8px 8px 5px rgb(94, 93, 93);
}

.conteudo{
    margin-left: 35px;
    margin-right: 25px;
}
#nome, #email, #telefone{
    width: 20vw;
    height: 30px;
    margin-bottom: 15px;
    font-family: "Roboto";
}

#comentario{
    width: 20vw;
    height: 70px;
    font-family: "Roboto";
}

#parte1{
    margin-bottom: 30px;
}

.enviar{
    background-color: white;
    color: black;
    margin-top: 15px;
    font-size: 15px;
    border: 0px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.enviar:hover{
    background-color: rgb(255, 211, 206);
}

.rodape{
    background-color: salmon;
    color: white;
    width: 100%;
    height: 140px;
    margin-top: 13vh;
    position: absolute;
    font-family: "Roboto";
}

#informacoes{
    margin-top: 30px;
    line-height: 15px;
    margin-left: 20px;
    font-family: "Roboto";

}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .container{
        height: 50vw;
    }
    .formulario{
        height: 70vh;
    }
    .conteudo{
        margin-left: 10vh;
    }
}

@media only screen and (min-width:768px) and (max-width: 900px){
    .container{
        height: 60vw;
    }
    .formulario{
        height: 70vh;
    }
    input{
        margin-left: 5vh;
    }

}
@media only screen and (min-width:550px) and (max-width: 768px){
    .container{
        height: 60vw;
    }
    .formulario{
        height: 70vh;
        margin-top: 10vh;
    }
    .rodape{
        margin-top: 15vh;
    }
    .container{
        border: none;
    }
    .row{
        font-size: 0px;
    }
    .row h2{
        font-size: 0px;
    }
    #logo{
        margin-top: 20vh;
        margin-right: 0vh;
        margin-left: 0vh;
    }
    .conteudo{
        margin-left: 10vh;
    }
    #nome, #email, #telefone{
        width: 40vw;
    }
    #comentario{
        width: 40vw;
    }
    .lista li a{
        display: block;
        color: white;
        padding: 25px 10px;
        text-decoration: none;
    }
}
@media only screen and (max-width: 550px){
    .container{
        height: 60vw;
    }
    .formulario{
        height: 90vh;
        margin-top: 60vh;
        margin-left: 0px;
        margin-right: 20px;
        box-shadow: none;
    }
    .rodape{
        margin-top: 70vh;
        width: 135%;
    }
    .container{
        border: none;
    }
    .row{
        font-size: 0px;
    }
    .row h2{
        font-size: 0px;
    }
    #logo{
        margin-top: 0vh;
        margin-right: 0vh;
        width: 0px;
        height: 0px;
    }
    .conteudo{
        margin-left: 10vh;
        font-size: 40px;
    }
    #parte1{
        font-size: 40px;
    }
    #nome, #email, #telefone{
        width: 50vw;
        font-size: 20px;
    }
    #comentario{
        width: 50vw;
        font-size: 20px;
    }
    .nav{
        width: 135%;
    }
    .lista li a{
        display: block;
        color: white;
        padding: 25px 8px;
        text-decoration: none;
    }
}
