:root{
  --primary-color: #fa7f72;
  --primary-color-dark: #f73520;
  --secondary-color: #808080;

  --button-hover-save: #f85241;
  --button-hover-reset: #676767;

  --warning-color: #ff0000;
}

body {
  font-family: 'Gang', Verdana, sans-serif;
  color: var(--primary-color);
}

.nav{
  background-color: salmon;
  color: white;
  width: 100%;
  height: 4.5rem;
}

.lista li{
  display: inline;
  float: left;
}

.lista li a{
  display: block;
  color: white;
  padding: 25px 20px;
  text-decoration: none;
}

.lista li a:hover{
  color:  rgb(255, 211, 206);
}

main {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  max-width: 1440px;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.date-time{
  display: flex;
  justify-content: space-between;
}

label[for="time"]{
  justify-content: space-between;
}

fieldset { 
  margin: 2rem 1rem;
  border-radius: 8px;
  border: solid 1px var(--primary-color);
  box-shadow: 0 4px 5px -2px var(--primary-color);
}

form {
  padding: 1.75rem 1.5rem;
  display: flex;
  flex-direction: column;
}

form h2{
  padding: 1rem 0 .5rem 0;
}

label {
  padding: .8rem 0;
  display: flex;
  align-items: flex-end;
}

.container label input {
  width: 60%;
  
  border: none;
	border-bottom: 0.125rem solid var(--primary-color);
  padding: .1rem .7rem;
}

.date-time label input{
  width: max-content;
  padding: .1rem 0 .1rem .7rem;
  margin-left: 1rem;
}

.date-time label input[type="date"]{
  margin-right: 2rem;
}

.container label input:focus,
select:focus{
  outline: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-color: var(--primary-color-dark);
}

select {
  border: none;
	border-bottom: 0.125rem solid var(--primary-color);
  padding: .1rem .7rem;
  margin-left: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons input{
  margin: 1rem 0 0 0 ;
  font-family: 'Gang', Verdana, sans-serif;
  width: 45%;
  border-radius: 40rem;
  cursor: pointer;
  border: none;
  padding: .5rem 1rem;
  color: white;
  transition: ease-in .2s;
}

.buttons input[type="button"]{
  background: var(--primary-color);
}

.buttons input[type="button"]:hover{
  background-color: var(--button-hover-save);
}

.buttons input[type="reset"]{
  background: var(--secondary-color);
}

.buttons input[type="reset"]:hover{
  background-color: var(--button-hover-reset);
}

.name-email label{
  display: flex;
  justify-content: space-between;
}

.name-email input[type="text"], 
.name-email input[type="email"]{
  padding: .1rem .7rem;
	height: 2rem;
	font-size: .9rem;    
  width: 75%;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000000ab;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: grid;
  place-content: center;
  visibility: hidden;
}

.modal-content{
  background-color: #fff;
  width: 400px;
  padding: 2rem 2rem 1rem;
  border-radius: 5px;
}

.modal-content h3, p{
  padding-bottom: 1rem;
  text-align: center;
}

.modal-content .close-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-content input {
  background-color: var(--primary-color);
  font-family: 'Gang', Verdana, sans-serif;
  width: 50%;
  border-radius: 40rem;
  cursor: pointer;
  border: none;
  padding: .5rem 1rem;
  color: white;
  transition: ease-in .2s;
}

span {
  color: var(--warning-color);
  font-size: .8rem;
}

@media (max-width: 900px){
  
  .container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  main{
    padding: 0;
  }

  .register{
    padding: 2rem;
  }

  img{
    width: 200px;
  }
}

@media (max-width: 500px){
  .date-time {
    display: block;
  }

  .date-time label input[type="date"]{
    margin-right: 0;
  }

  h2 {
    font-size: 1.45rem;
  }

  .register label{
    justify-content: space-between;
  }

  .modal-content{
    background-color: #fff;
    width: 250px;
    padding: 2rem 1rem 1rem;
  }

}