@font-face {
  font-family: 'demo';
  src: url('../../assets/fonts/go3v2.ttf') format('truetype');
} 

body{
  margin: 0;
  padding: 0;
  font-family: 'demo';
  background-color: rgb(255, 134, 97);
  height: 100vh;
}


.nav{
  margin: 0;
  padding: 0;
  background-color: salmon;
  color: white;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
}
.lista li{
  display: inline;
  float: left;
}
.lista li a{
  display: block;
  color: white;
  padding: 25px 20px;
  text-decoration: none;
}
.lista li a:hover{
  color:  rgb(255, 211, 206);
}


.login{
 background-color: rgba(255, 255, 255, 0.418);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  border-radius: 15px;

}

input{
 padding: 15px;
 border: none;
 outline: none;
 font-size: 15px;
}

button {
background-color: salmon;
border: none;
padding: 15px;
border-radius: 10px;
color: white;
font-size: 15px;
transition: ease-in .3s;
}

button:hover{
background-color: #f73520;
cursor: pointer;
}

span {
  color: red;
}